sudo: required

language: python

matrix:
    include:
    - python: "3.5"
    - python: "3.6"
    - python: "3.7"
    - python: "3.8"

cache: pip

#addons:
#    apt:
#        packages:
#            - curl
#            - gfortran
#            - libblas-dev
#            - liblapack-dev

before_install:
    - pip install --upgrade pip setuptools

install:
    - pip install -e .[dev]

script:
    - pre-commit run
    - pytest
